<% provide :title, @person.name %>
<%= render partial: 'people/people_nav' %>

<div class="row">

  <div class="main-col col-sm-8 m-b-2 ">
    <h5>Job Title</h5>
    <p>
      <%= @person.job_title %>
    </p>

    <h5>Bio</h5>
    <p class="m-b-2">
      <%= "#{@person.bio}" %>
    </p>
    <%= link_to 'Edit', edit_person_path(@person), class: 'btn btn-success' %>

  <%= link_to 'Delete', @person, method: :delete, data:
    { confirm: "Are you sure you want to delete #{@person.name}?" }, class: 'btn btn-outline-success' %>
  </div>

  <div class="col-sm-4 m-b-2">
    <hr class="hidden-sm-up m-y-2">
    <h5>Messages</h5>

    <%= form_for [@person, @message] do |f| %>

      <%= empty_or_error f, @message, :body %>
      <%= f.text_area :body, rows: 2, placeholder: "Leave a message for #{@person.first_name}&hellip;".html_safe %>

      <%= f.button "Post", class: 'btn-block m-b-2' %>
    <% end %>

    <%= render @person.messages.most_recent %>

    <!-- if there are more than 3 messages link to view all -->

  </div>

</div>
